body {
    background-color: #a3a3a3;
    background-image: url('../bg.png');
    background-size: 1500px;
    min-height: 50vh; 
  }



  .boxes{
    width: 100%;
    height: 100%;
    
  }
  .boxed{
    position: relative;
		width: 100%;
		height: 0;
		overflow: hidden;
		padding-bottom: 100%;
  }
  
  /*테두리 점선 */
  .bookdot {
    border: 2px dashed white;
    border-radius: 9px;
    border-right: 0px;
    left: 15px;
    top: 15px;
    right: 3px;
    bottom: 15px;
    position: absolute;
  }
  .bookdot2{
    border: 2px dashed white;
    border-radius: 9px;
    border-left: 0px;
    left:0px;
    top: 15px;
    right: 15px;
    bottom: 15px;
    position: absolute;
  }

  /*============================================좌측 프로필===============================================*/
  .profile{
    background-color: #0fabc6;
    border-radius: 10px;
    border: 1px solid #738186;
    border-right: 0px;
    width: 345px;
    height: 700px;
    position: absolute;
  }

  .profile_box{
    width: 315px;
    height: 645px;
    left: 1px;
    background-color: #ededed ;
    margin: 10px;
    border-radius: 9px;
    position: absolute;
  }

  /*방문자 수*/
  .profile_box .visitor {
    text-align: center;
    margin-top: 30px;
  }

  .profile_box .profile_picture{
    width: 200px;
    height: 200px;
    background-color: rgb(206, 206, 255);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom : 20px;
    border-radius: 9px;
    overflow: hidden;
  }
  /*프로필 이미지*/
  .thumnail{
      width:100%;
      height:100%;
      object-fit:cover;
  }
 
  /*상태메세지*/
  .introduce{
    width: 250px;
    margin-left: 20px;
  }
  .profile_box .introduce textarea{
    background-color: none;
    border: none;
    width: 240px;
    height: 170px;
    resize: none;
    font-size: 2.8ex;
    border-bottom: dashed 1px;
  }
  .profile_box .introduce textarea:focus{
    outline: none;
  }
  
  .profile_page{
    border-radius: 15px;
    background-color: white;
    width: 295px;
    height: 585px;
    margin: 0 auto;
    border: solid 2px #2e5662;
  }


.friend{
  width: 250px;
  height: 100px;
  margin:0 auto;
}
.friend select{
  width: 230px;
    height: 30px;
    margin: 0 auto;
    background-color: plum;
}

  

   /*============================================메인 홈피=========================================*/
  .main {
    background-color: #0fabc6;
    border-radius: 10px;
    border: 1px solid #738186;
    border-left: 0px;
    width: 850px;
    height: 700px;
    margin-left: 345px;
    position: absolute;
  }
  
  .main_box{
    width: 825px;
    height: 645px;
    right:0px;
    background-color: #ededed;
    margin: 10px;
    border-radius: 9px;
    position: absolute;
  }
  .main_box h2 {
    width: 350px;
    margin-bottom: 4px;
    margin-top: 15px;
    margin-left: 30px;
  }
  .main_box h5 {
    margin-bottom: 0px;
    margin-top: -15px;
    margin-right: 26px;
    float: right;
  }
  .main_box h5 a{
    text-decoration-line: none;
    color: inherit;
  }


  .main_page{
    border-radius: 15px;
    background-color: white;
    width: 810px;
    height: 585px;
    margin: 0 auto;
    border: solid 2px #2e5662;
  }
/*상단 게시판*/
  .main_box .board_top{
    height: 150px;
    width: 850px;
    margin: 0px auto;
  }

  
/*최근 게시글*/
  .main_box .main_board{
    height: 150px;
    width: 350px;
    text-align: center;
    margin: 20px;
    margin-top: 0;
    float: left;
  }

  .main_box .main_board p{
    text-align: left;
    border-bottom: 1px dashed #373b3c;
    margin-left: 35px;
  }


/*게시판 리스트*/
  .main_box .board_list{
    height: 120px;
    width: 350px;
    text-align: center;
    margin: 20px;
    margin-top: 35px;
    float: left;
  }

  .board_list table{
    width: 350px;
    height: 120px;
    text-align: center;
    border: dashed 1px #373b3c;
    border-right: none;
    border-left: none;
  }

  .board_list table tr{
    text-align: center;
    border: dashed 1px #373b3c;
  }

  .house_title{
    width: 700px;
    height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    border-bottom: solid 1px;
  }

  .house_title h3{
    text-align: center;
    width: 100px;
    margin: 0;
    border-bottom: none;
    border-radius: 8px;
  }

/*미니미 하우스*/
.house_box{
    position : relative;
  
}

  .main_box .minihouse{
    width: 700px;
    height: 350px;
    background-color: rgb(206, 206, 255);
    margin : 0 auto;
    margin-top: 20px;
    position: absolute;    
  }

 
  .minihouse img{
    width:100%;
      height:100%;
      object-fit:cover;
   
  }

  /*미니미*/
  .main_box .minimi{
    width: 150px;
    height: 150px;
    float: left;
    position: absolute;
    left: 300px;
    top: 150px;
  }
  .minimi img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  /*============================================뮤직 플레이어===============================================*/

  .music_box{
    width: 250px;
    height: 200px;
    background-color:#ededed;
    border : solid 1px #738186;
    position: absolute;
    left: 1230px;
  }

.audio{
  text-align: center;
}
.audio audio{
  width: 250px;
  height: 50px;
  color: #0fabc6;
  margin-top: 10px;
}



/*이동 버튼*/
.shop input,.surfing input{
  float: left;
  width: 100px;
  height: 50px;
  margin: auto 12px;
  font-size: 18px;
}

/*로그아웃 버튼*/
.logout input{
  font-size: 18px;
  width: 250px;
  height: 50px;
  background-color: #ededed;
  position: absolute;
  left: 1230px;
  top: 210px;
  padding: 0;
  border: 0;
}

